* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cinema-container {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.screen {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.seating-area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
    margin-bottom: 30px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.seat {
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.seat:hover {
    background-color: #aaa;
}

.selected {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.selected:hover {
    background-color: #45a049;
}

.book {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book:hover {
    background-color: #e53935;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
  }
  footer {
    background-color: #121212;
    padding: 40px 20px;
    position: fixed; /* Fixar no final */
    bottom: 0;
    width: 100%;
    border: none;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .column {
    flex: 1;
    min-width: 200px;
  }
  .column h4 {
    margin-bottom: 10px;
  }
  .column ul {
    list-style: none;
    padding: 0;
  }
  .column ul li {
    margin-bottom: 5px;
  }
  .column ul li a {
    color: #fff;
    text-decoration: none;
  }
  .payment-methods img, .awards img {
    width: 50px; /* Largura fixa */
    height: 30px; /* Altura fixa */
    object-fit: contain; /* Ajusta o conteúdo sem distorção */
  }
  .awards {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .awards img {
    max-height: 50px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
    color: #888;
    max-width: 800px;
    margin: 20px auto; /* Centraliza horizontalmente */
    line-height: 1.5;
  }